<div class="container">
<h1 class="text-center">New Club</h1>

<%= simple_form_for @club do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :description %>

    <%= f.simple_fields_for Photo.new do |p| %>
      <%= p.input :photo %>
      <%= p.input :photo_cache, as: :hidden %>
    <% end %>

    <%= f.button :submit %>
  <% end %>

</div>
