<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
    <h2><%= @club.name %></h2>
    <h3><%= @club.address %></h3>
    <h3><%= @club.city %></h3>
    <h3><%= @club.description %></h3>


      <% @club.photos.each do |photo| %>

      <div> <%= cl_image_tag photo.photo, height: 400, width: 400, crop: :fill %>
      </div>

      <% end %>

    </div>
  </div>
</div>
