<div class="container">
  <div class="row">

    <div class="col-xs-12 ">
      <h2><span class="Roboto-Bold"> Club <%= @club.name %> - </span>
        <span class="Roboto-Thin"> <%= @club.description %> </span></h2>

        <h3><span class="Roboto-Bold"><%= @club.address %>, </span>
          <span class="Roboto-Thin"><%= @club.city %></span></h3>
        </div>
      </div>

      <div class="row">

        <% @club.photos.each do |photo| %>
        <div class="col-xs-12 col-sm-4">
          <div> <%= cl_image_tag photo.photo, height: 300, width: 400, crop: :fill %> </div>
        </div>
        <% end %>
        <%= link_to "Events", events_path(club_id: @club.id), class:"btn btn-default" %>
      </div>

    </div>

