<div class="container text-center">
  <div class="row">

    <div class="col-xs-12 ">
      <h3>Table Booking </h3>
      <h5> <%= @event.starts_at.strftime("%-d %b") %>  : <%= @event.description %>
        @ <%= @club.name %> - <%= @club.description %> </h5>
        <h6> Table for <%= @table.seats %> , <%= @table.available_seats %> seats available </h6>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-6  col-xs-offset-3">
        <%= simple_form_for @booking , :onclick => "return validate();" do |f| %>
        <%= f.label :seats %>
        <%= f.select :seats, (1..@table.available_seats), class: "valtest" %>
        <%= f.input :description %>
        <%= f.hidden_field :table_id,value: @table.id %>
        <%= f.button :submit, class: "clicktest" %>
        <% end %>
      </div>
    </div>
  </div>

<% content_for :after_js do %>

  <script type="text/javascript">
    $( "form" ).change(function() {
      var seats = <%= @table.available_seats %>
      if ($('.valtest').val() > seats  ) {
        alert ("There are only " + seats + " seats available");
      }
    });

  $( ".clicktest" ).click(function(e) {

       // if( $('.valtest').val() === "" ){
       //  e.preventDefault();
       //  return;
       // };

       var cost = $('#booking_seats').val() * <%= @table.per_seat %>
       var confirm = window.confirm("Total cost of your booking is €" + cost + " click ok to confirm");
       if( confirm === false ){
        e.preventDefault();
       };
     });

  </script>

<% end %>
