<div class="container text-center">
  <% if @table.user_id? %>
    <div class='table-pictures'>
      <div class="table-row">
          <%= image_tag(@table.user.picture,  class: "avatar-host") %>
      </div>
      <div class="table-row">
        <% host = @table.user_id %>
        <% @table.bookings.each do |booking| %>
          <% if !(booking.user_id == host) %>
            <%= image_tag(booking.user.picture,  class: "avatar") %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<%= @table.preferences %>




<h3 class="text-center">Table Booking </h3>
<%= render '/shared/event' %>
<p class="text-center"> Table of <%= @table.seats %> seats - with <%= @table.available_seats %> seats available </p>
  <div class="container">
    <div class="row">
      <div class="col-xs-6  col-xs-offset-3">
        <%= simple_form_for @booking , :onclick => "return validate();" do |f| %>
        <%= f.label :seats %>
        <%= f.select :seats, (1..@table.available_seats), class: "valtest" %>
        <%= f.input :description %>
        <%= f.hidden_field :table_id,value: @table.id %>
        <%= f.hidden_field :club_id,value: @club.id %>
        <%= f.hidden_field :event_id,value: @event.id %>
        <%= f.button :submit, class: "clicktest" %>
        <% end %>
      </div>
    </div>
  </div>

<% content_for :after_js do %>

   <script type="text/javascript">
  //   $( "form" ).change(function() {
  //     var seats = <%= @table.available_seats %>
  //     if ($('.valtest').val() > seats  ) {
  //       alert ("There are only " + seats + " seats available");
  //     }
  //   });

  $( ".clicktest" ).click(function(e) {

       // if( $('.valtest').val() === "" ){
       //  e.preventDefault();
       //  return;
       // };

       var cost = $('#booking_seats').val() * <%= @table.per_seat %>
       var confirm = window.confirm("Total cost of your booking is €" + cost + " click ok to confirm");
       if( confirm === false ){
        e.preventDefault();
       };
     });

  </script>

<% end %>
