<div class="nav-cool">
  <div class="dropdown nav-cool-menu">
    <a href="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" role="button" aria-expanded="false">
      <i class='fa fa-bars'></i>
    </a>
    <ul class="dropdown-menu navbar-menu" role="menu">
      <% if current_user %>
        <li>
          <%= image_tag current_user.picture, class: "avatar large" %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
          <% end %>
        </li>
        <% else %>
          <li>
            <%= link_to t(".sign_in", default: "Login"), new_user_session_path%>
          </li>
        <% end %>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-home"></i>  <%= t ".profile", default: "Home" %>
          <% end %>
        </li>
    </ul>
  </div>
  <div class='nav-cool-logo'>
  <!-- Logo -->
  <%= link_to root_path, class: "nav-cool-logo" do %>
    <%= image_tag "pixxer_logo.png", height: 50, width: 100, crop: :fill %>
  <% end %>

  </div>
  <div class="nav-cool-right">
    <div class="nav-cool-right-item">
      Host
    </div>
    <span class='separator'>
    </span>
    <div class="nav-cool-right-item">
      Join
    </div>
  </div>
</div>
