<!-- events index page-->
<!-- <div class="container">
  <div class="row"> -->

    <%# @events.each do |event| %>
    <%#  @club_id = event.club_id %>
     <%# @club = Club.find(@club_id) %>

    <!-- <div class="col-xs-12 ">
    <h4><span class="Roboto-Bold"> Club <%#= @club.name %> - </span>
        <span class="Roboto-Thin"> <%#= @club.description %> </span></h4>

        <h5><span class="Roboto-Bold"><%#= @club.address %>, </span>
          <span class="Roboto-Thin"><%#= @club.city %></span></h5>
        </div>
      </div>
    </div> -->
    <%# end %>



<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <%  @club_id = event.club_id %>
      <% @club = Club.find(@club_id) %>
      <div class="col-xs-12 col-md-4">
        <%= link_to event_path(event) do %>

          <div class="card small card-product hoverable">

            <div class='card-thumbnail' style="background-image: url('<%= image_url event.photos.first.try(:photo) %>');" >

              <div class="price"><%= event.cheapest_table + "$" %></div>

            </div>
            <div class="row">
              <div class="col-xs-6">
                <h4>
                  <span class="Roboto-Bold">
                    <div class="card-category"><%= event.starts_at.strftime("%-d %b") %> | <%= @club.name %></div>
                  </span>
                </h4>
                <h5>
                  <span class="Roboto-Thin">
                    <div class="card-description"><%= @club.city %>
                    </div>
                  </span>
                </h5>
              </div>
              <div class="col-xs-6">
                <%= link_to "Details", event_path(event), class: "btn btn-default", style: "float:right" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!--   <li><a class="withripple" href="javascript:void(0)">Previous</a></li> -->

