<!--club's events index page-->


<div class="divider">
  <div class="divider-new">Upcoming events</div>
    <div class="container">
      <div class="row">
        <% @events.each do |event| %>
        <% @club_id = event.club_id %>
        <% @club = Club.find(@club_id) %>
        <div class="col-xs-12 col-md-4">
          <%= link_to event_path(event) do %>
          <div class="card small card-product hoverable">
            <div class='card-thumbnail' style="background-image: url('<%= image_url event.photos.first.try(:photo) %>');" >
              <div class="price"><%="Tables starts @" + event.cheapest_table + " " + "$"%></div>
            </div>
            <div class="continer">
              <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                  <ul class="list-inline event-list">
                    <li><%= event.starts_at.strftime("%-d %b") %></li>
                    <li><%= @club.name %></li>
                    <li><%= @club.city %></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row">
                <div class="col-xs-12-col-xs-offset-2 col-md-4">
                  <%= link_to "Book table and invite ppl", event_path(event), class: "join-button" %>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!--   <li><a class="withripple" href="javascript:void(0)">Previous</a></li> -->

