<!-- event page -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h4>
        <span class="Roboto-Bold"> Club <%#= @club.name %></span>
        <span class="Roboto-Thin"> <%#= @club.description %></span><br>
      </h4>
      <h5>
        <span class="Roboto-Bold"><%#= @club.address %>, </span><br>
        <span class="Roboto-Thin"><%#= @club.city %></span><br>
        <span class="Roboto-Thin"><%#= @event.starts_at.strftime("%-d %b") %><br><%#= @event.description %></span>
      </h5>
    </div>
    <%# @event.photos.each do |photo| %>
    <div class="col-xs-12 col-sm-6">
      <!-- <div class="card card-image hoverable"> -->
      <!-- <div class="card card-image hoverable"> -->
        <!-- <div> --> <%#= cl_image_tag photo.photo, crop: :fill %>
        <!-- </div>
      </div>


    </div> -->
    <%# end %>




    <!-- <div> -->
      <%#= link_to "Reserve Tables", tables_path(club_id: @club.id, event_id: @event.id), class:"brand-button" %>
    <!-- </div> -->

  <!-- </div>
</div>
</div> -->


<!-- <div class="divider-new">Experiment</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6"> -->
    <!-- Information about the event -->
    <!-- </div>
        <div class="col-xs-12 col-sm-6"> -->
    <%#= render "event_card" %>
    <!-- </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center"> -->
          <%#= link_to "Reserve Tables", tables_path(club_id: @club.id, event_id: @event.id), class:"brand-button" %>
        <!-- </div>
      </div>
    </div>
  </div>
</div>  -->

<div class="card-event-container">
  <div class="card-event">

    <div class='card-event-thumbnail' style="<%= "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)) ,url(#{@event.photos.first.try(:photo)})" %>">
      <div class="card-event-details">
        <div class='card-event-date-container'>
          <div class='card-event-date'>
            <div class='card-event-date-digit'>
              <%= @event.starts_at.strftime("%-d") %>
            </div>
            <div class='card-event-date-month'>
              <%= @event.starts_at.strftime("%b") %>
            </div>
          </div>
        </div>
        <div class='card-event-details-gen'>
          <div class='card-event-artist'>
            David Guetta
          </div>
          <div class='card-event-club'>
            <%= @club.name %>, <%= @club.address %>
          </div>
        </div>
      </div>
    </div>
    <%= link_to "BOOK A TABLE", tables_path(club_id: @club.id, event_id: @event.id), class: "card-event-cta" %>

  </div>
</div>







