 <!-- Section: Intro -->
    <!-- <section id="intro" class="full-bg-img">
        <div class="container">
            <div class="verticalcenter text-center white-text">
              <h3>Some awesome heading</h3> -->
              <!--Call to action buttons-->
                <!-- <a href="#" class="btn btn-primary waves-effect waves-light">Contact me</a>
                <a href="#" class="btn btn-primary waves-effect waves-light">Learn more</a> -->
          <!--   </div>
        </div>
    </section> -->
    <!--/. Section: Intro -->


<div class="mask rgba-black-light">
  <div class="banner">
    <div class="banner-content text-center">
      <h1>piXXer</h1>
      <p>Own the night!</p>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Party Cities
        <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-background">

          <li><%= link_to "Las Vegas", clubs_path(city: 'Las Vegas') %></li>
          <li><%= link_to "New York", clubs_path(city: 'New York') %></li>
          <li><%= link_to "London", clubs_path(city: 'London') %></li>

        </ul>

      </div>

    </div>
  </div>
</div>


<div class="divider-new">Upcoming events</div>
<div class="container">
  <div class="row">
    <% @events.each do |event| %>
    <% @club_id = event.club_id %>
    <% @club = Club.find(@club_id) %>
    <div class="col-xs-12 col-md-4">
      <%= link_to event_path(event) do %>
      <div class="card small card-product hoverable">
        <div class='card-thumbnail' style="background-image: url('<%= image_url event.photos.first.try(:photo) %>');" >
          <div class="price"><%="Tables starts @" + event.cheapest_table + " " + "$"%></div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <h7>
              <span class="Roboto-Bold">
                <div class="starttime"><%= event.starts_at.strftime("%-d %b") %>  <br></div>
                <div class="clubname"><%= @club.name %> <br>
                </div>
              </span>
            </h7>
            <h7>
              <span class="Roboto-Thin">
                <div class="city"><%= @club.city %>
                </div>
              </span>
            </h7>
          </div>
          <div class="col-xs-6">
            <%= link_to "Host", event_path(event), class: "text-center adele-btn waves-effect" %>
          </div>
        </div>
      </div>

      <% end %>
    </div>
    <% end %>
  </div>
</div>


<div class="divider-new">Available tables</div>


<div class="container">
  <div class="row">
    <% @tables.each_with_index do |table, index| %>
      <div class="col-xs-12 col-md-4">
        <%= render "table_card", table: table, index: index+1 %>
      </div>
    <% end %>
  </div>
</div>





<!-- <div class="container">
  <div class="row"> -->
   <%# @events.each do |event| %>
   <!-- <div class="col-xs-12 col-md-3"> -->
   <!-- image card -->

   <%#= link_to event_path(event) do %>

    <!-- <div class="card small card-product hoverable">
      <div class="card-category"><%#= event.starts_at %></div>
      <div class="card-description"> <%#= event.club_id %> </div>
    </div> -->
    <%# end %>
    <!-- </div> -->
    <%# end %>
<!-- </div>
</div> -->



<!-- <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->
