      <h4 class="text-center">Table Booking </h4>
      <%= render '/shared/event' %>

  <div class="container table-responsive">
    <div class="row">
    <div class="col-md-offset-2 col-md-8">
     <table class="table table-condensed">
       <thead>
         <tr>
           <th>Seats</th>
           <th>Available</th>
           <th>Table Price</th>
           <th>Seat Price</th>
           <th>Status</th>
           <th>Host </th>
           <th colspan="2"></th>
         </tr>
       </thead>

       <tbody>
         <% @tables.each do |table| %>
         <div class="col-xs-12 col-md-4">
           <tr>
             <td>  <%= table.seats %> </td>
             <td>  <%= table.available_seats %> </td>
             <td>  €<%= table.price %> </td>
             <td>  €<%= table.per_seat %> </td>
             <td class="tabsts">  <%= table.payment_status %></td>
             <% if current_user %>
              <% if table.user_id.present? %>
                <% if table.payment_status == "Full" %>
                  <td> <%= link_to "Table Full", table_path(table) %> </td>
                <% else %>
                  <td id="bgtable"> <%= link_to "Join this Table", new_booking_path(table, club_id: @club.id, event_id: @event.id, table_id: table.id) %></td>
                <% end %>
              <% else %>
                <td id="bgtable"> <%= link_to "Host this Table", new_booking_path(table, club_id: @club.id, event_id: @event.id, table_id: table.id) %> </td>
              <% end %>
             <% else %>
              <td id="bgtable"> <%= link_to "Sign In to Join/Host", new_user_session_path %> </td>
             <% end %>
              <td>

                <% if table.user_id.present? %>
                  <%= link_to image_tag(table.user.picture, class: "avatar"), table_path(table, club_id: @club.id, event_id: @event.id) %>
              </td>
              <% end %>
            </tr>
          </div>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>

