<div class="container text-center">
  <div class="row">

    <div class="col-xs-12 ">
    <h3>Table Booking </h3>
      <h5> <%= @event.starts_at.strftime("%-d %b") %>  : <%= @event.description %>
            @ <%= @club.name %> - <%= @club.description %> </h5>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
     <table class="table">
       <thead>
         <tr>
           <th>Seats</th>
           <th>Available</th>
           <th>Table Price</th>
           <th>Seat Price</th>
           <th>Status</th>
           <th>Host </th>
           <th colspan="2"></th>
         </tr>
       </thead>

       <tbody>
         <% @tables.each do |table| %>
         <div class="col-xs-12 col-md-4">
           <tr>
             <td>  <%= table.seats %> </td>
             <td>  <%= table.available_seats %> </td>
             <td>  €<%= table.price %> </td>
             <td>  €<%= table.per_seat %> </td>
             <td>  <%= table.payment_status %></td>
             <% if table.user_id %>
             <td> <%= link_to "Host Info", table_path(table) %> </td>
             <% elsif current_user %>
             <td> <%= link_to "Host this Table", table_host_path(table, club_id: @club.id, event_id: @event.id) %> </td>
             <% else %>
             <td> <%= link_to "Sign In to Host", new_user_session_path %> </td>
             <% end %>
             <td> <%= link_to "More Info", table_path(table) %> </td>
           </tr>
         </div>
         <% end %>
       </tbody>
     </table>
   </div>
 </div>

