
<div class="container text-center">
  <div class="row">

    <div class="col-sm-6">
      <div>
        <p> A Premium Table of <%= @table.seats %>  With <%= @table.available_seats %> Seats Available </p>
        <p>This table costs €<%= @table.price %> - or €<%= @table.per_seat %> per seat</p>
        <p>Table preferences : <%= @table.preferences %> </p>
        <p>This table is hosted by: <%= @table.user.first_name %> <%= @table.user.last_name %></p>
        <%= image_tag(@table.user.picture) %>

      </div>
    </div>

    <div class="col-sm-6">
      <h5> <em><%= @table.seats - @table.available_seats %> Bookings for this Table </em> </h5>
      <div class="text-left small">

        <% @table.bookings.order(:id).each do |booking|  %>

        <div class="row">
          <div class="col-sm-2">
            <%= image_tag(booking.user.picture,  class: "avatar-large") %>
          </div>

          <div class="col-sm-10">
           <span class="mark"> <%= booking.user.first_name %> <%= booking.user.last_name %> </span>
            Booked <%= booking.seats %> seats <br>
            Comments: <%= booking.description %>
          </div>
        </div>

        <% end %>

        <!-- Share on FB > NEEDS STYLING -->
        <a class='btn btn-facebook' href="https://www.facebook.com/sharer/sharer.php?u=<%= facebook_url(@table.event_id, @table.event.club_id, @table.id) %>"> Share the great news on <i class="fa fa-facebook-official"></i></a>


        <%# if current_user && @table.available_seats > 0 %>
          <%#= link_to "Join this Table", new_booking_path(@table, club_id: params[:club_id], event_id: params[:event_id], table_id: @table.id), class: "btn btn-default text-center" %>
        <%# end %>

      </div>
    </div>

    </div>
    </div>
